@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/font.ttf')  format('truetype');
}

* {
    font-family: "Segoe UI", "Helvetica", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

#loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#indicator {
    width: 60px;
    height: 60px;
    border: 8px solid #4f4f4f;
    border-radius: 50%;
    border-top: 8px solid #ffbf00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#sceneCanvas {
    display: none;
    width: 100vw;
    height: 100vh;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.button {
    background-color: transparent;
    border: 3px solid #ffbf00;
    padding: 12px 16px 12px 16px;
    transition: ease 0.4s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-family: 'Press Start 2P';
}

.actionSection {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    display: flex;
    background-color: #000;
}

.button:hover {
    background-color: #ffbf0043;
}

.button > span {
    margin-right: 10px;
    border: 1px solid #4f4f4f;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 1px;
}

.hidden {
    display: none;
}

#controlBox {
    background-color: #1c1c1c;
    border-radius: 20px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#controlBox > hr {
    width: 100%;
    margin: 0;
    border: 1px solid #4f4f4f;
}

#controlBox > div {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#controlBox label {
    opacity: 80%;
    font-size: 12px;
}

.qualitySelector {
    justify-content: start;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    width: 100%;
}

#qualityInput {
    flex: 1;
    background-color: transparent;
    border: 2px solid #333333;
    box-shadow: 0 2px 4px 0 #292929;
    padding: 8px 12px 8px 12px;
    transition: ease 0.4s;
    color: #fff;
    border-radius: 6px;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

#qualityInput option {
    background: #1c1c1c;
}